@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('../../public/banner.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}